/***************************************************************************************************************************************
***** HTML / Body Styles ***************************************************************************************************************
****************************************************************************************************************************************/
@font-face{
  font-family: "chalk";
  src: url("../fonts/chalk.ttf");
}

html, body{
  margin: 0;
  width: 100%;
  height: 100%
}

body{
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../images/chalkboard.jpg");
  background-size: cover;
  font-family: "chalk";
  color: white;
}
/***************************************************************************************************************************************
***** Page Heading Styles **************************************************************************************************************
****************************************************************************************************************************************/
#page-header{
  padding: 2% 0;
}

#page-title{
  text-align: center;
  margin: 0;
}
/***************************************************************************************************************************************
***** "Main" Section Styles ************************************************************************************************************
****************************************************************************************************************************************/
#page-body{
  flex: 1 1 auto;
}

#game-board{
  width: 25%;
  /*See JavaScript about the height!*/
  display: block;
  margin: auto;
  margin-top: 1%;
  /*border: 2px solid black;*/
}

#game-board:hover{
  cursor: pointer;
}
